@import "../root/_root.css";

/* body > nav 는 기본적으로 (fixed)top 0 포지션이다.  */
#nav {
    z-index: 30;
    width: 100%;
    height: 86px;

    position: fixed;
    top: 0;

    box-shadow: 0 1px black;
    background-color: var(--nav-backColor-);
}
#nav-sizer {
    padding: 0 30px;
    width: 1100px;
    height: 86px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:1200px) {
    #nav-sizer {
        width: 100%;
    }
}
#nav-sizer > div {
    width: 200px;
    height: 82px;

    gap: 20px;
    display: flex;
    align-items: center;
}
#nav-sizer > div:nth-child(2) {
    justify-content: center;
}
#nav-sizer > div:nth-child(3) {
    justify-content: flex-end;
}
.nav_logo,
.nav_linker,
.nav_svg {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    color: var(--nav-menuFontColor-);
}
.nav_logo,
.nav_linker,
.nav_svg {
    transition: 0.1s all ease-in-out;
}
.nav_logo {
    font-size: 25px;
    font-weight: 500;
}
.nav_logo:hover {
    transform: scale(1.1);
}
.nav_linker {
    font-size: 16px;
    font-weight: 300;
    display: block;
}
.nav_linker:hover {
    transform: scale(1.2);
}
.nav_svg {
    width: 20px;
    background-color: inherit;
    transform: translateY(3px);
}
.nav_svg:hover {
    transform: scale(1.2) translateY(3px);
}

/* body > nav_menu 는 기본적으로 fixed(82px) + translateY(-400px) 포지션이다. */
#nav_menu {
    padding-top: 5px;
    z-index: 29;
    position: fixed;
    top: calc(82px);

    width: 100%;
    height: 400px;
    background-color: var(--nav-backColor-);

    transition: 0.5s all ease-out;
}
.nav_menu-fold {
    transform: translateY(-400px);
}

.nav_menu_grid {
    width: 1100px;
    padding: 30px;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}
.nav_menu_box {
    width: 100%;

    gap: 15px;
    display: flex;
    flex-direction: column;
}
.nav_menu_box:nth-child(1),
.nav_menu_box:nth-child(2) {
    height: calc(400px - 60px);
}
.nav_menu_title {
    font-size: 18px;
    color: var(--nav-menuFontColor-);
}
.nav_menu_link_box {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav_menu_linker {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--nav-menuFontColor-);
}
@media screen and (max-width: 1200px) {
    .nav_menu_grid {
        width: 100%;
        grid-template: repeat(2,1fr)/ repeat(3,1fr);
    }
    .nav_menu_box:nth-child(1),
    .nav_menu_box:nth-child(2) {
        grid-row: span 2;
    }
}
@media screen and (max-width: 800px) {
    .nav_menu_grid {
        grid-template: repeat(6, 1fr) / repeat(3,1fr);
    }
    .nav_menu_box:nth-child(1),
    .nav_menu_box:nth-child(2) {
        grid-row: span 6;
    }
    .nav_menu_title {
        font-size: 18px;
    }
    .nav_menu_linker {
        font-size: 16px;
    }
}